$colorBrand: rgb(146,90,77); // Crimson red
$colorBright: rgb(254,253,253); // Near white
$colorBrightTr: rgba(254,254,254,.33); // Transparent White
$colorBase: rgb(245, 245, 245); // Almost white
$colorDark: rgb(23,22,27); // Reddish charcoal
$colorDarkTr: rgba(0,0,0,.55); // Transparent Dark
$colorAction: rgb(82,42,42);