$colorBrand: rgb(82,42,42); // Crimson red
$colorBright: rgb(254,254,254); // White
$colorBrightTr: rgba(254,254,254,.33); // Transparent White
$colorBase: rgb(245, 245, 245); // Almost white
$colorDark: rgb(52,42,42); // Reddish charcoal
$colorDarkTr: rgba(0,0,0,.55); // Transparent Dark
$colorAction: rgb(82,42,42);