article {
	display: block;
	min-width: 320px;
	max-width: 768px;
	margin: 0 auto $spaceMega auto;
	background-color: $colorBase;
	padding: $spaceMega;
	box-shadow: 0 0 3.2em rgba(0,0,0,.2);
	border: 1px solid white;

	a,
	a:link,
	a:active {
		color: $colorAction;
	}

	date {
		color: $colorBrand;
		display: block;
		margin-top: (-$baseline) * 1rem;
	}
	h1 {
		font-size: 3.1rem;
		margin-top: $baseline * 2rem;
	}
}