<footer>
	<div class="meta">
		<p>Aantekeningen &copy; 2017 - Stijn Dekker</p>
		<p>Photo by <em>Anders Jildén</em> on <a href="https://unsplash.com/photos/uvbA1IHilCI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
		<p>Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
		<p><a href="https://github.com/stdekker/static-blog" target="_blank"></a>View the source</p>
	</div>
</footer>